<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quadley.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>27062BA564E74ABE6AC84C2BEE3491DD054F21FC</string>
				<key>dateExpires</key>
				<string>30/12/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27062BA564E74ABE6AC84C2BEE3491DD054F21FC</string>
						<key>dateExpires</key>
						<string>30/12/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5376HPKV8H</string>
						<key>name</key>
						<string>Gennifer Fink</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27062BA564E74ABE6AC84C2BEE3491DD054F21FC</string>
						<key>dateExpires</key>
						<string>30/12/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactNativeDependencies.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5376HPKV8H</string>
						<key>name</key>
						<string>Gennifer Fink</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>27062BA564E74ABE6AC84C2BEE3491DD054F21FC</string>
						<key>dateExpires</key>
						<string>30/12/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5376HPKV8H</string>
						<key>name</key>
						<string>Gennifer Fink</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5376HPKV8H.com.quadley.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5376HPKV8H</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Quadley.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4131455a-f64d-41f9-847f-3ee16ca0623f</string>
				<key>dateExpires</key>
				<string>30/12/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.quadley.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5376HPKV8H</string>
				<key>name</key>
				<string>Gennifer Fink</string>
			</dict>
			<key>versionNumber</key>
			<string>3.0.0</string>
		</dict>
	</array>
</dict>
</plist>
